# Pandas Problem Set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [3]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [4]:
# your code here
data = pd.read_csv(url, names=names)
data.head(10)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

Print out the age and class of the 100th patient

In [5]:
# your code here
data.iloc[100, 7:9]

age      33.0
class     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [6]:
# your code here
data_class_boolean = data["class"] == 0
filtered_data_by_class = data[data_class_boolean]
filtered_data_by_class.shape[0]

500

Write code to figure out how many people are classified as having diabetes, class is 1

In [7]:
# your code here
data_class_boolean = data["class"] == 1
filtered_data_by_class = data[data_class_boolean]
filtered_data_by_class.shape[0]

268

What percent of people have diabetes in the study

In [8]:
# your code here
str(500/768*100) + " percent"

'65.10416666666666 percent'

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [9]:
# your code here
data.iloc[0:5, [2,8]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [10]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [11]:
# your code here
# plas column (0.47)
data['plas'].mean()

120.89453125

Create a new dataframe with only people that are above the mean found above

In [12]:
# your code here
data_plas_boolean = data.plas > data['plas'].mean()
filtered_data_by_plas = data[data_plas_boolean]
filtered_data_by_plas.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
2     8   183    64     0     0  23.3  0.672   32      1
4     0   137    40    35   168  43.1  2.288   33      1
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [13]:
# write code here
data_all_bool = data > data.describe().iloc[1,:9]
filtered_data_all = data[data_all_bool].dropna()
filtered_data_all.head()

     preg   plas   pres  skin   test  mass   pedi   age  class
43    9.0  171.0  110.0  24.0  240.0  45.4  0.721  54.0    1.0
152   9.0  156.0   86.0  28.0  155.0  34.3  1.189  42.0    1.0
159  17.0  163.0   72.0  41.0  114.0  40.9  0.817  47.0    1.0
175   8.0  179.0   72.0  42.0  130.0  32.7  0.719  36.0    1.0
206   8.0  196.0   76.0  29.0  280.0  37.5  0.605  57.0    1.0

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [14]:
# write code here
skin = filtered_data_all.sort_values(by='skin', ascending=True, na_position='first')
test = filtered_data_all.sort_values(by='test', ascending=True, na_position='first')
pedi = filtered_data_all.sort_values(by='pedi', ascending=True, na_position='first')
skin.head(), test.head(), pedi.head()

(     preg   plas   pres  skin   test  mass   pedi   age  class
 236   7.0  181.0   84.0  21.0  192.0  35.9  0.586  51.0    1.0
 43    9.0  171.0  110.0  24.0  240.0  45.4  0.721  54.0    1.0
 614  11.0  138.0   74.0  26.0  144.0  36.1  0.557  50.0    1.0
 546   5.0  187.0   76.0  27.0  207.0  43.6  1.034  53.0    1.0
 152   9.0  156.0   86.0  28.0  155.0  34.3  1.189  42.0    1.0,
      preg   plas  pres  skin   test  mass   pedi   age  class
 159  17.0  163.0  72.0  41.0  114.0  40.9  0.817  47.0    1.0
 603   7.0  150.0  78.0  29.0  126.0  35.2  0.692  54.0    1.0
 175   8.0  179.0  72.0  42.0  130.0  32.7  0.719  36.0    1.0
 663   9.0  145.0  80.0  46.0  130.0  37.9  0.637  40.0    1.0
 614  11.0  138.0  74.0  26.0  144.0  36.1  0.557  50.0    1.0,
      preg   plas  pres  skin   test  mass   pedi   age  class
 424   8.0  151.0  78.0  32.0  210.0  42.9  0.516  36.0    1.0
 375  12.0  140.0  82.0  43.0  325.0  39.2  0.528  58.0    1.0
 614  11.0  138.0  74.0  26.0  144.0  36.1  0.557  50.0    1.0
 236   7.0  181.0  84.0  21.0  192.0  35.9  0.586  51.0    1.0
 206   8.0  196.0  76.0  29.0  280.0  37.5  0.605  57.0    1.0)

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [28]:
# write code here
filtered_data_all.nlargest(4, ["age"]).age
filtered_data_all.nlargest(4, ["mass"]).mass

43     45.4
546    43.6
424    42.9
215    41.8
Name: mass, dtype: float64

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [32]:
#write code here
filtered_data_all.nsmallest(4, ["plas"]).plas.sort_values(ascending=False)
filtered_data_all.nsmallest(4, ["preg"]).preg.sort_values(ascending=False)

612    7.0
603    7.0
236    7.0
546    5.0
Name: preg, dtype: float64